# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
libs
run
run-data
.vscode
gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
